@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

:root {
  --accent-color: #40784c;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;

  font-family: Montserrat, sans-serif;
  font-size: inherit;
  font-weight: 400;
  color: var(--text-color);

  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
* > img {
  max-width: 100%;
}

body {
  //   background: rgba($color: #000000, $alpha: 0.7);
  position: relative;
  &._lock {
    overflow: hidden;
  }
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

//general
.button {
  display: inline-block;

  font-weight: 500;
  font-size: 24px;
  line-height: calc(29px / 24px * 100%);

  padding: 21px 25px;
  border: 2px solid #fff;

  transition: background-color 0.2s, color 0.2s;
  &:hover {
    background-color: #fff;
    color: var(--text-color);
  }
}
.title {
  font-weight: 600;
  font-size: 40px;
  line-height: calc(49px / 40px * 100%);
  margin-bottom: 70px;

  @media (max-width: 576px) {
    margin-bottom: 40px;
  }
}

.up {
  cursor: pointer;
  position: fixed;
  z-index: 200;
  top: 90%;
  left: 95%;
  opacity: 0;
  transform: translateY(200px);
  font-size: 24px;
  // transform: rotate(-90deg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  // display: none;
  // background-image: url("../img/projects/slider-arrow.svg");
  // background-repeat: no-repeat;
  // background-position: center;
  transition: opacity 0.5s, transform 1s;
  &:hover {
    opacity: 1;
  }

  &._active {
    // display: block;
    transform: translateY(0px);
    opacity: 0.7;
  }

  @media (max-width: 1100px) {
    left: 90%;
  }
  @media (max-width: 576px) {
    left: calc(50% - 20px);
    background-color: var(--text-color);
    color: #fff;
  }
}

//header//
.header {
  // .header__container

  &__container {
    position: relative;
  }

  &__box {
    max-width: inherit;
    padding: inherit;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    z-index: 8;
    top: 50px;
    left: 0;
    width: 100%;
  }
  // .header__logo

  &__logo {
    position: relative;
    z-index: 11;
  }

  // .header__nav

  &__nav {
    @media (max-width: 768px) {
      position: absolute;
      z-index: 9;
      top: -800px;
      //   top: 0;
      left: 0;

      width: 100%;
      height: auto;

      padding: 120px 80px;
      background-color: var(--accent-color);

      transition: top 0.3s;

      &._active {
        top: -50px;
      }
    }
  }

  // .header__burger

  &__burger {
    display: none;
    cursor: pointer;

    width: 30px;
    height: 18px;

    position: relative;

    span {
      position: absolute;
      z-index: 10;

      top: calc(50% - 1px);
      left: 0;

      width: 100%;
      height: 2px;

      &:first-child {
        top: 0;
      }
      &:last-child {
        top: auto;
        bottom: 0;
      }

      background-color: #fff;

      transition: all 0.3s ease-in;
    }

    &._active {
      span {
        transform: scale(0);

        &:first-child {
          top: calc(50% - 1px);
          transform: rotate(-45deg);
        }
        &:last-child {
          top: calc(50% - 1px);
          transform: rotate(45deg);
        }
      }
    }

    @media (max-width: 768px) {
      display: block;
    }
  }
}
.nav {
  // .nav__list

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  // .nav__item

  &__item {
  }

  // .nav__link

  &__link {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24px / 20px * 100%);
    color: #fff;

    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -12px;
      left: calc(50% - 1px);

      width: 7px;
      height: 7px;
      border-radius: 50%;

      background-color: #fff;
      opacity: 0;

      transition: opacity 0.2s;
    }
    &:hover {
      &::before {
        opacity: 0.7;
      }
    }
  }
}

//hero

.hero {
  margin-bottom: 110px;

  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  //   background-attachment: fixed;
  background-position: center;
  // .hero__container
  position: relative;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    // z-index: 3;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  &__container {
    display: flex;
    justify-content: center;

    transform: translateY(100px);
    opacity: 0;

    transition: transform 2s, opacity 2s;
    &._active {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  // .hero__box

  &__box {
    padding: 324px 0;

    position: relative;
    z-index: 7;

    @media (max-width: 768px) {
      padding: 240px 0;
    }

    @media (max-width: 576px) {
      text-align: center;
    }
  }

  // .hero__text

  &__text {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(29px / 24px * 100%);
    color: #fff;

    @media (max-width: 576px) {
      font-size: 18px;
    }
  }

  // .hero__title

  &__title {
    font-weight: 900;
    font-size: 96px;
    line-height: calc(117px / 96px * 100%);
    text-transform: uppercase;
    color: #fff;

    @media (max-width: 576px) {
      font-size: 54px;
    }
  }

  // .hero__buttons

  &__buttons {
    margin-top: 35px;

    display: flex;
    gap: 60px;

    @media (max-width: 576px) {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  // .hero__button

  &__button {
    color: #fff;
    @media (max-width: 576px) {
      width: 90%;
      //   text-align: center;
    }
  }
}

//about
.about {
  margin-bottom: 110px;
  // .about__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateY(100px);
    opacity: 0;

    transition: transform 1s, opacity 1s;
    &._active {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  // .about__title

  &__title {
  }

  // .about__box

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    transform: translateY(100px);
    opacity: 0;

    transition: transform 1s, opacity 1s;
    &._active {
      transform: translateY(0px);
      opacity: 1;
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      //   gap: 60px;
    }
  }

  // .about__img

  &__img {
    max-width: 590px;

    position: relative;

    img {
      position: relative;
      z-index: 3;
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;

      position: absolute;
      z-index: 2;
      top: 20px;
      left: -20px;

      background: rgba(64, 120, 76, 0.4);

      transform: translate(20px, -20px);
      // opacity: 0;

      transition: transform 2s;

      @media (max-width: 1200px) {
        display: none;
      }
    }

    &._active {
      &::before {
        transform: translate(0px, 0px);
      }
    }
  }

  // .about__content

  &__content {
    max-width: 590px;

    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  // .about__subtitle

  &__subtitle {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 32px;
    line-height: calc(39px / 32px * 100%);

    color: var(--accent-color);
  }

  // .about__desc

  &__desc {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 140%;

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  // .about__link

  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(29px / 24px * 100%);
    display: inline;
    color: #40784c;

    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: calc(50% + 1px);
      left: 105%;

      width: 10px;
      height: 2px;

      background-color: var(--accent-color);

      transition: width 0.2s;

      @media (max-width: 576px) {
        display: none;
      }
    }

    &:hover {
      &::before {
        width: 25px;
      }
    }
  }
}

//services
.services {
  margin-bottom: 110px;
  padding: 70px 0 120px;
  // .services__container
  background-color: #e2eae4;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateY(100px);
    opacity: 0;

    transition: transform 1s, opacity 1s;
    &._active {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  // .services__title

  &__title {
  }

  // .services__box

  &__box {
    display: flex;
    justify-content: space-between;
    gap: 90px;

    transform: translateY(100px);
    opacity: 0;

    transition: transform 1s, opacity 1s;
    &._active {
      transform: translateY(0px);
      opacity: 1;
    }

    @media (max-width: 1200px) {
      gap: 30px;
    }
    @media (max-width: 992px) {
      flex-direction: column;
      width: 90%;
    }
    @media (max-width: 576px) {
      width: auto;
    }
  }

  // .services__card

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
    // width: 90%;
    padding: 40px 45px 60px;
    background: #ffffff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    // @media (max-width: 992px) {
    //   width:
    // }
  }
}

.service-card {
  // .service-card__img

  &__img {
    margin-bottom: 36px;

    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 35%;
      bottom: -20px;

      width: 30%;
      height: 2px;

      background-color: var(--accent-color);
    }
  }

  // .service-card__title

  &__title {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 20px;
    line-height: calc(24px / 20px * 100%);
  }

  // .service-card__desc

  &__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    max-width: 300px;
  }
}

//team

.team {
  // .team__container
  margin-bottom: 110px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateY(100px);
    opacity: 0;

    transition: transform 1s, opacity 1s;
    &._active {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  // .team__title

  &__title {
  }

  // .team__box

  &__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  // .team__row

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  // .team__card

  &__card {
    position: relative;
    max-width: 380px;
    max-height: 460px;

    &::before {
      // cursor: pointer;
      content: "";
      position: absolute;
      z-index: 4;

      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: rgba($color: #000000, $alpha: 0.4);

      opacity: 0;
      transition: opacity 0.2s;

      @media (max-width: 768px) {
        opacity: 1;
      }
    }
    &:hover {
      &::before {
        opacity: 1;
      }

      .team__img img {
        transform: scale(1.1);
      }
      .team__socials {
        top: 20px;
        opacity: 1;
      }
      .team__text {
        bottom: 20px;
        opacity: 1;
      }
    }
  }

  // .team__img

  &__img {
    position: relative;
    overflow: hidden;
    max-height: inherit;
    max-width: inherit;
    // max-height: fit-content;
    img {
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s;

      @media (max-width: 768px) {
        transform: scale(1.1);
      }
    }
  }

  // .team__socials

  &__socials {
    position: absolute;
    z-index: 5;
    top: -20px;
    left: 20px;

    display: flex;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transition: opacity 0.5s, top 0.5s;

    @media (max-width: 768px) {
      opacity: 1;
      top: 20px;
    }
  }

  // .team__name

  &__text {
    display: flex;
    flex-direction: column;
    gap: 5px;

    position: absolute;
    z-index: 11;
    left: 20px;
    bottom: -20px;
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;

    @media (max-width: 768px) {
      opacity: 1;
      bottom: 20px;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 32px;
    line-height: calc(39px / 32px * 100%);

    color: #fff;
  }

  // .team__prof

  &__prof {
    font-size: 20px;
    line-height: calc(24px / 20px * 100%);

    color: #fff;
  }
}

//projects

.projects {
  margin-bottom: 110px;
  // .projects__container

  &__container {
    text-align: center;
    position: relative;

    transform: translateY(100px);
    opacity: 0;

    transition: transform 1s, opacity 1s;
    &._active {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  // .projects__title

  &__title {
  }

  // .projects__slider

  &__slider {
  }

  // .projects__buttons

  &__pagination {
    margin-top: 10px;
    display: none;

    @media (max-width: 476px) {
      display: block;
      span {
        background-color: var(--accent-color);
      }
    }
  }

  &__buttons {
    position: absolute;
    z-index: 20;
    bottom: -70px;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 40px;

    @media (min-width: 1400px) {
      justify-content: space-between;
      bottom: 32%;
    }

    @media (max-width: 476px) {
      display: none;
    }
  }

  &__button {
    cursor: pointer;
    width: 60px;
    height: 60px;

    background: url("../img/projects/slider-arrow.svg") no-repeat;
    background-position: left 24px center;

    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      border-radius: 50%;
      background-color: rgba($color: #474747, $alpha: 0.1);
      opacity: 0;

      transition: opacity 0.3s;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }
}
.title {
}
.swiper {
  width: 100%;
  height: 100%;
}
.projects-slider {
}
.swiper-wrapper {
}
.swiper-slide {
}
.projects-slide {
  text-align: center;
  position: relative;

  &:hover {
    .projects-slide__text {
      opacity: 1;
      bottom: 20px;
    }
    .projects-slide__img {
      &::before {
        opacity: 1;
      }
      img {
        transform: scale(1.2);
      }
    }
  }
  // .projects-slide__img

  &__img {
    width: 100%;
    height: 100%;
    overflow: hidden;

    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: 15;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      background-color: rgba($color: #000000, $alpha: 0.5);
      opacity: 0;

      transition: opacity 0.2s;
      @media (max-width: 576px) {
        opacity: 1;
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.5s;
      @media (max-width: 576px) {
        transform: scale(1);
      }
    }
  }

  // .projects-slide__text

  &__text {
    position: absolute;
    z-index: 17;
    bottom: -20px;
    left: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(24px / 24px * 100%);
    color: #fff;
    opacity: 0;

    transition: opacity 0.5s, bottom 0.5s;
    @media (max-width: 576px) {
      opacity: 1;
      bottom: 20px;
    }
  }
}
.slider-btn-prev {
  transform: rotate(180deg);
  @media (min-width: 1400px) {
    position: absolute;
    top: -60px;
    left: -70px;
  }
}
.slider-btn-next {
  transform: translateY(1px);
  @media (min-width: 1400px) {
    position: absolute;
    top: -60px;
    right: -70px;
  }
}

//testimonials

.testimonials {
  background: #e2eae4;
  padding: 50px 0;
  margin-bottom: 110px;
  // .testimonials__container
  &__container {
    text-align: center;

    transform: translateY(100px);
    opacity: 0;

    transition: transform 1s, opacity 1s;
    &._active {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  // .testimonials__title

  &__title {
  }

  // .testimonials__slider

  &__slider {
  }
}
.title {
}
.swiper {
}
.testimonials-slider {
}
.swiper-wrapper {
}
.swiper-slide {
}
.testimonials-slide {
  padding: 30px 0;
  background: #fff;
  // .testimonials-slide__img
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  &__img {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 110px;
    img {
      border-radius: 50%;
    }
  }

  // .testimonials-slide__quote

  &__quote {
    padding: 0 15px;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    font-size: 24px;
    line-height: 150%;
    @media (max-width: 768px) {
      font-size: 20px;
    }
    @media (max-width: 576px) {
      font-size: 16px;
      text-align: center;
    }
  }
}
.swiper-pagination {
}
.testimonials__pagination {
  margin-top: 50px;
  span {
    background-color: var(--accent-color);
  }
}

//blog
.blog {
  margin-bottom: 110px;
  // .blog__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateY(100px);
    opacity: 0;

    transition: transform 1s, opacity 1s;
    &._active {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  // .blog__title

  &__title {
  }

  // .blog__news

  &__news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  // .blog__card

  &__card {
    position: relative;
    // min-width: 380px;
    max-width: 100%;
    &:hover {
      .card-news__img {
        &::before {
          opacity: 1;
        }
        img {
          transform: scale(1.1);
        }
      }
      .text {
        &__title {
          opacity: 1;
          top: 30px;
        }
        &__date {
          opacity: 1;
          bottom: 20px;
        }
        &__link {
          opacity: 1;
          bottom: 20px;
        }
      }
    }
  }
}

.card-news {
  // .card-news__img

  &__img {
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      z-index: 20;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      opacity: 0;
      transition: opacity 0.2s;

      @media (max-width: 576px) {
        opacity: 1;
      }
    }
    img {
      display: block;
      transition: transform 0.5s;
    }
  }
  &__text {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 21;
    top: 0;
    left: 0;
    font-size: 20px;
    line-height: 150%;
  }
}
.text {
  // .text__title

  &__title {
    color: #fff;
    font-weight: 500;
    position: absolute;
    top: -30px;
    left: 20px;
    max-width: 250px;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;

    @media (max-width: 576px) {
      opacity: 1;
      top: 30px;
    }
  }

  // .text__date

  &__date {
    color: #fff;
    font-weight: 500;
    position: absolute;
    bottom: -20px;
    left: 20px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;

    @media (max-width: 576px) {
      opacity: 1;
      bottom: 20px;
    }
  }

  // .text__link

  &__link {
    // position: relative;
    // z-index: 100;
    color: #fff;
    font-weight: 500;
    position: absolute;
    bottom: -20px;
    right: 50px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% + 1px);
      left: 105%;
      width: 5px;
      height: 2px;
      background: #fff;

      transition: width 0.2s;
    }
    &:hover {
      &::before {
        width: 20px;
      }
    }

    @media (max-width: 576px) {
      opacity: 1;
      bottom: 20px;
    }
  }
}

//footer

.footer {
  padding: 50px 0;
  background-color: var(--text-color);
  // .footer__container

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 992px) {
      align-items: center;
    }
  }

  // .footer__title

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    @media (max-width: 992px) {
      font-size: 20px;
      text-align: center;
    }
  }

  // .footer__content

  &__content {
    display: flex;
    gap: 122px;
    @media (max-width: 992px) {
      flex-direction: column-reverse;
      // align-items: center;
      gap: 30px;
    }
    @media (max-width: 576px) {
      width: 100%;
    }
  }
  &__copyright {
    align-self: center;
    font-size: 16px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.6);
  }
  // .footer__box

  &__box {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  // .footer__form

  &__form {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  // .footer__input

  &__input {
    min-width: 350px;
    min-height: 60px;

    outline: none;
    border: none;

    padding: 14px 24px 10px;
    font-size: 20px;
    color: var(--text-color);
    font-weight: 500;
    &::placeholder {
      font-size: 20px;

      color: rgba(51, 51, 51, 0.5);
    }

    &:focus {
      outline: 1px solid black;
    }

    @media (max-width: 576px) {
      width: 100%;
      min-width: 0;
    }
  }

  // .footer__button

  &__button {
    cursor: pointer;
    min-height: 60px;
    min-width: 130px;
    outline: none;
    padding: 13px 30px;
    font-size: 24px;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    transition: background-color 0.2s, color 0.2s;
    &:hover,
    &:focus {
      background-color: #fff;
      color: var(--text-color);
    }
    &:focus {
      outline: 1px solid black;
    }

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  // .footer__nav

  &__nav {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    @media (max-width: 576px) {
      gap: 20px;
      justify-content: space-between;
    }
  }

  // .footer__contact

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 576px) {
      gap: 20px;
    }
  }

  // .footer__logo

  &__logo {
    display: block;
    // min-height: 0px;
    img {
      height: 60px;
      @media (max-width: 576px) {
        height: 40px;
      }
    }
  }

  // .footer__socials

  &__socials {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.footer-nav {
  // .footer-nav__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (max-width: 576px) {
      gap: 10px;
    }
  }

  // .footer-nav__item

  &__item {
  }

  // .footer-nav__link

  &__link {
    // font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #ffffff;
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover,
    &:focus {
      opacity: 1;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }
}
.socials {
  // .socials__text

  &__text {
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */

    color: rgba(255, 255, 255, 0.6);
  }

  // .socials__list

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // .socials__item

  &__item {
    &:nth-child(2) {
      transform: translateY(1px);
    }
    &:nth-child(3) {
      transform: translateY(1px);
    }
  }

  &__link {
    svg {
      opacity: 0.5;

      transition: opacity 0.2s;
    }

    &:hover {
      svg {
        opacity: 0.8;
      }
    }
  }
}
